.container{
  padding:40px;
}

.content{
  max-width:1000px;
  margin:auto;
  padding:40px 20px;
  line-height:1.8;
}

.content h1{
  text-align:center;
  font-size:36px;
  margin-bottom:20px;
}

.content h3{
  margin-top:30px;
  color:#0d6efd;
}

.points{
  margin-left:20px;
  margin-top:10px;
}

.points li{
  margin-bottom:8px;
}

.closing{
  margin-top:25px;
  font-weight:500;
}
