/* THEME VARIABLES */
:root{
  --bg:#f4f6fb;
  --cardBg:#ffffff;
  --textMain:#0f172a;
  --textSub:#475569;
  --border:#2563eb;
}

body.dark{
  --bg:#020617;
  --cardBg:#111827;
  --textMain:#ffffff;
  --textSub:#cbd5e1;
  --border:#3b82f6;
}

/* PAGE */
.noticePage{
  padding:50px 20px;
  max-width:1000px;
  margin:auto;
  background:var(--bg);
  min-height:100vh;
}

/* TITLE */
.title{
  text-align:center;
  font-size:38px;
  font-weight:800;
  margin-bottom:10px;
  color:var(--textMain);
}

/* SUBTITLE */
.subtitle{
  text-align:center;
  margin-bottom:35px;
  color:var(--textSub);
  font-size:16px;
}

/* NOTICE LIST */
.noticeList{
  display:flex;
  flex-direction:column;
  gap:22px;
}

/* NOTICE CARD */
.noticeCard{
  background:var(--cardBg);
  padding:22px;
  border-radius:14px;
  box-shadow:0 8px 20px rgba(0,0,0,0.08);
  border-left:6px solid var(--border);
  transition:0.3s;
}

.noticeCard:hover{
  transform:translateY(-4px);
  box-shadow:0 12px 25px rgba(0,0,0,0.15);
}

/* CARD TEXT */
.noticeCard h3{
  margin-bottom:8px;
  color:var(--border);
  display:flex;
  align-items:center;
  gap:8px;
  font-size:20px;
}

.noticeCard p{
  margin-bottom:10px;
  color:var(--textMain);
  line-height:1.6;
}

.noticeCard span{
  font-size:13px;
  color:var(--textSub);
}

/* MOBILE */
@media(max-width:600px){
  .title{
    font-size:28px;
  }

  .noticeCard{
    padding:18px;
  }
}
