.noticePage{
  padding:40px 20px;
  max-width:1000px;
  margin:auto;
}

.noticePage h1{
  text-align:center;
  font-size:36px;
}

.subtitle{
  text-align:center;
  margin-bottom:30px;
  color:#666;
}

/* NOTICE CARDS */

.noticeList{
  display:flex;
  flex-direction:column;
  gap:20px;
}

.noticeCard{
  background:#fff;
  padding:20px;
  border-radius:10px;
  box-shadow:0 4px 12px rgba(0,0,0,0.08);
  border-left:5px solid #0d6efd;
}

.noticeCard h3{
  margin-bottom:8px;
  color:#0d6efd;
}

.noticeCard p{
  margin-bottom:10px;
}

.noticeCard span{
  font-size:13px;
  color:#888;
}
