.floatContainer{
  position:fixed;
  bottom:20px;
  right:15px;
  display:flex;
  flex-direction:column;
  gap:12px;
  z-index:9999;
}

.whatsapp,
.call{
  width:55px;
  height:55px;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#fff;
  font-size:22px;
  box-shadow:0 6px 14px rgba(0,0,0,0.25);
  transition:0.3s;
}

.whatsapp{
  background:#25D366;
}

.call{
  background:#0A66C2;
}

.whatsapp:hover,
.call:hover{
  transform:scale(1.1);
}
