.footer{
  margin-top:60px;
  color:white;
}

/* MAIN CONTAINER */
.container{
  display:flex;
  justify-content:space-between;
  gap:40px;
  padding:60px 8%;
  background:linear-gradient(135deg,#4facfe,#43e97b);
}

/* CONTACT */
.contact{
  flex:1;
}

.contact h2{
  margin-bottom:18px;
  border-bottom:2px solid white;
  display:inline-block;
  padding-bottom:6px;
}

.contact h3{
  margin:10px 0;
  font-size:20px;
}

.contact p{
  margin:4px 0;
  opacity:0.95;
}

/* CONTACT LINKS */
.contactLink{
  display:block;
  margin:10px 0;
  color:white;
  text-decoration:none;
  font-weight:500;
  transition:0.3s;
}

.contactLink:hover{
  color:#ffe082;
}

/* SOCIAL ICONS */
.icons{
  margin-top:15px;
  display:flex;
  gap:16px;
}

.icons a{
  font-size:22px;
  color:white;
  transition:0.3s;
}

.icons a:hover{
  transform:scale(1.2);
  color:#ffd700;
}

/* QUICK LINKS */
.links{
  flex:1;
}

.links h2{
  margin-bottom:18px;
  border-bottom:2px solid white;
  display:inline-block;
  padding-bottom:6px;
}

.links a{
  display:block;
  background:#7cb342;
  padding:10px;
  border-radius:6px;
  margin:8px 0;
  text-decoration:none;
  color:white;
  font-weight:500;
  transition:0.3s;
}

.links a:hover{
  background:#558b2f;
}

/* MAP */
.map{
  flex:1;
}

.map h2{
  margin-bottom:18px;
  border-bottom:2px solid white;
  display:inline-block;
  padding-bottom:6px;
}

.map iframe{
  width:100%;
  height:230px;
  border:none;
  border-radius:10px;
  box-shadow:0 6px 14px rgba(0,0,0,0.2);
}

/* COPYRIGHT */
.bottom{
  text-align:center;
  padding:14px;
  background:#1e293b;
  font-size:14px;
}

/* DARK MODE */
:global(body.dark) .container{
  background:linear-gradient(135deg,#1e1e1e,#2e2e2e);
}

:global(body.dark) .links a{
  background:#333;
}

:global(body.dark) .links a:hover{
  background:#444;
}
.footer{
  margin-top:auto;
}


/* MOBILE */
@media(max-width:900px){
  .container{
    flex-direction:column;
    text-align:center;
    padding:45px 20px;
  }

  .icons{
    justify-content:center;
  }

  .map iframe{
    height:200px;
  }
}
