.slider{
  position:relative;
  height:500px;
  overflow:hidden;
}

.slider img{
  width:100%;
  height:500px;
  object-fit:cover;
}

.overlay{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
  color:white;
}

.overlay h1{
  font-size:48px;
  margin-bottom:10px;
}

.overlay button{
  background:#0d6efd;
  border:none;
  padding:12px 22px;
  color:white;
  border-radius:8px;
  font-size:16px;
}

@media(max-width:768px){

  .slider{
    height:320px;
  }

  .overlay h1{
    font-size:26px;
  }

  .overlay p{
    font-size:14px;
  }

  .overlay button{
    padding:10px 16px;
    font-size:14px;
  }
}
