body{
  margin:0;
  font-family:Arial;
  background:#f5f7fb;
  color:#222;
  transition:.3s;
}

body.dark{
  background:#121212;
  color:white;
}

body.dark nav{ background:#1e1e1e; }
body.dark .card{ background:#1e1e1e; color:white; }
body.dark input{ background:#1e1e1e; color:white; border:1px solid #444; }

/* GLOBAL MOBILE FIX */

*{
  box-sizing:border-box;
}

img{
  max-width:100%;
  height:auto;
}

.container{
  width:90%;
  margin:auto;
}

